<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/students.css" media="screen"
          th:href="@{/stylesheets/students.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/application.css"
          th:href="@{/stylesheets/application.css}" media="screen"/>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
                <div class="navbar-brand-name">
                    <img th:src="@{/images/oak-logo-navbar.png}" width="13" height="20" alt="HotOak Logo">
                    Classroom
                </div>
            </a>
            <p class="navbar-text" th:text="'PIN: ' + ${pin}">PIN</p>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-link" th:href="'/loginTeacher'">
                    <span class="visible">Anmeldung f&uuml;r Dozenten</span>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="form-group" id="main-content">
    <div th:if="${successMessage}" class="alert alert-success"
         role="alert" th:text="${successMessage}"></div>
    <h3>Hier kannst du Feedback zur Vorlesung geben:</h3>
    <form th:action="@{'feedback'}" th:object="${feedback}" method="post">

        <textarea class="form-control" rows="4" cols="50" th:field="*{text}" id="text" name="text" autofocus
                  required>

        </textarea>
        <p>
        <div class="panel-heading panel-feed">
            <button class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-send"></span>
                Feedback abgeben
            </button>
        </div>
        </p>
    </form>
</div>
</body>
</html>