// Place all the styles related to the feedback controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feedback {
	h4{
		margin: 5px 0px;
	}
	
	h4 small:before{
		content: "\00a0";
	}
	
	.feedback_body {
		padding:0px 10px;
		white-space: pre;
	}
}